.iconPack {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.infoamlinocom {
  position: relative;
}
.iconPackParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.info {
  width: 394px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  gap: 16px;
}
.infoWrapper {
  width: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 20px;
  box-sizing: border-box;
  min-width: 380px;
}
.amUntil500 {
  width: 198px;
  position: relative;
  display: inline-block;
  height: 19px;
  flex-shrink: 0;
}
.clockLogoParent {
  width: 233px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px 0px 0px;
  box-sizing: border-box;
  gap: 10px;
}
.navinfo {
  align-self: stretch;
  background-color: #f6f6f6;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
.image2Icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 54px;
  height: 52px;
  object-fit: cover;
}
.logo {
  width: 80px;
  position: relative;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.collectionsWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.serviceLink {
  width: 66px;
  position: relative;
  height: 19px;
}
.productLink {
  width: 68px;
  position: relative;
  height: 19px;
}
.technologyLink {
  width: 88px;
  position: relative;
  height: 19px;
}
.companyLink {
  width: 72px;
  position: relative;
  height: 19px;
}
.navlinkContainer {
  width: 410px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 22px 10px;
  box-sizing: border-box;
  gap: 22px;
}
.socialMediaIcon {
  width: 150px;
  position: relative;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.contactUs {
  position: relative;
  line-height: 14px;
  font-weight: 600;
}
.navButton {
  align-self: stretch;
  border-radius: 5px;
  background: linear-gradient(246.99deg, #f4b105, #e76f00);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 25px;
  box-sizing: border-box;
}
.contactUsButton {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #fafafa;
}
.navcontent {
  align-self: stretch;
  background-color: #fff;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 19px 25px;
  box-sizing: border-box;
}
.headercontent {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  gap: 20px;
  min-width: 790px;
  max-width: 1380px;
  text-align: left;
  font-size: 16px;
  color: #2d2e2e;
  font-family: Inter;
}
